
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Sofia", sans-serif !important;
}

h1{
  color:#006C59
}

.container_head{
  padding: 30px 30px;
}
/* header btn */
.button {
  width: 60px;
  height: 30px;
  border-radius: 35%;
  border: none;
  text-align: center;
  background-color:#F1C3F2;
  color:#660085;
  float: right;
  transition-duration: 0.4s;
  font-size: small;
}
.button:hover{
  background-color: #f2c1f3;
  color: white;
}
.button1 {
  width: 50px;
  height: 35px;
  border-radius: 35%;
  border: none;
  text-align: center;
  background-color:#F1C3F2;
  color:#660085;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-size: small;
}
.button1:hover{
  background-color: #f2c1f3;
  color: white; 
}

/* todolist style */
.boxSize {
  height: 600px;
  width: 100%;
  margin: 30px 25px;
  padding: 0px !important;
}

.todoListHeader {
  padding: 15px;
  margin: 20px 20px 0 20px;
}

.todoListBox {
  padding: 5px;
  margin: 0 50px;
}

.containerBorder {
  border-top: solid 2px rgb(194, 194, 194);
  border-bottom: solid 2px grey;
}

.todoListContainer {
  overflow: scroll;
  height: 100%;
}

/* todolist style */